<header class="container mx-auto px-7 grid grid-cols-[auto_auto_1fr_auto] md:grid-cols-[auto_1fr_auto] xl:grid-cols-[auto_1fr_auto_auto_auto] items-start xl:items-center gap-1.5 md:gap-6 xl:gap-3 py-3">
  <button
    type="button"
    tuiButton
    size="s"
    appearance="floating"
    (click)="onMenuOpen.emit(true)"
    class="md:hidden! order-first active:opacity-75 hover:opacity-90 transition-opacity duration-200"
  >
    <tui-icon
      icon="@tui.menu"
      [style.height.rem]="1"
      class="text-blue-700"
    />
  </button>

  <div class="flex flex-col w-24 xl:w-32 gap-2.5 order-3 xl:order-1 mx-auto">
    <a routerLink="/">
      <img class="w-24 xl:w-32" src="logo.svg" alt="Brand logo">
    </a>
    <div class="flex items-center justify-between gap-2">
      @for (item of socials(); track item.icon) {
      <tui-icon
        class="text-gray-600 cursor-pointer hover:text-gray-50 transition-colors duration-300"
        target="_blank"
        [routerLink]="item.link"
        [style.font-size.rem]="1"
        [icon]="item.icon"
      />
      }
    </div>
  </div>

  <div class="hidden md:block col-span-full xl:col-auto order-last xl:order-2">
    <nav class="flex justify-center items-center text-xs lg:text-sm xl:text-base font-bold gap-10">
      @for (item of navItems(); track $index) {
        <a class="text-gray-400 hover:text-white transition-colors duration-300" [routerLink]="item.link">{{ item.title() }}</a>
      }
    </nav>
  </div>
  

  <button
    type="button"
    appearance="floating"
    tuiButton
    [size]="btnSize()"
    class="order-2 active:opacity-75 hover:opacity-90 transition-opacity duration-200"
  >
    <tui-icon
      icon="@tui.search"
      [style.height.rem]="1"
      class="text-blue-700"
    />
  </button>

  <button
    type="button"
    tuiButton
    class="shadow-[0_0_5px_0px_#4871FF] lg:shadow-[0_0_15px_0px_#4871FF] font-bold! order-last md:order-4 px-3.5! md:px-8! lg:px-10!"
    [size]="btnSize()"
  >
    Войти
  </button>
</header>